<p-toolbar>
    <div>
        <!--
        <p-button icon="pi pi-discord"
                  (onClick)="showInfo()"/>
        -->
    </div>
    <div>
        <h2>{{ 'kdaCalculator' | translate }}</h2>
    </div>
    <div class="options">
        <!--    <p-button [icon]="getActiveTheme()? 'pi pi-moon' : 'pi pi-sun'"-->
        <!--    (onClick)="switchThemes()"/>-->
        <p-selectButton
                [options]="languageOptions"
                [(ngModel)]="currentLanguge"
                (onOptionClick)="switchLanguage($event)"/>
    </div>
</p-toolbar>
<p-toast/>
