<main>
  <div class="wrapper">
    <div class="container-fieldset">
      <p-fieldset legend="K/D/A">
        <div class="fielset-with-inputs container-min-width">
          <div class="container-input-buttons">
            <p-floatLabel>
              <p-inputNumber id="numberOfKills" [(ngModel)]="kdaStats.kills"/>
              <label for="numberOfKills">Kills</label>
            </p-floatLabel>

            <p-buttonGroup>
              <p-button id="addKill" icon="pi pi-plus" severity="success"
                        (click)="addCombatStatValueOfType('kills')"/>
              <p-button id="subtractKill" icon="pi pi-minus" severity="danger"
                        (click)="subtractCombatStatValueOfType('kills')" [disabled]="kdaStats.kills <= 0"/>
            </p-buttonGroup>
          </div>

          <div class="container-input-buttons">
            <p-floatLabel>
              <p-inputNumber id="numberOfAssists" [(ngModel)]="kdaStats.assists"/>
              <label for="numberOfAssists">Assists</label>
            </p-floatLabel>

            <p-buttonGroup>
              <p-button id="addAssist" icon="pi pi-plus" severity="success"
                        (click)="addCombatStatValueOfType('assists')"/>
              <p-button id="subtractAssist" icon="pi pi-minus" severity="danger"
                        (click)="subtractCombatStatValueOfType('assists')" [disabled]="kdaStats.assists <= 0"/>
            </p-buttonGroup>
          </div>

          <div class="container-input-buttons">
            <p-floatLabel>
              <p-inputNumber id="numberOfDeaths" [(ngModel)]="kdaStats.deaths"/>
              <label for="numberOfDeaths">Deaths</label>
            </p-floatLabel>

            <p-buttonGroup>
              <p-button id="addDeath" icon="pi pi-plus" severity="success"
                        (click)="addCombatStatValueOfType('deaths')"/>
              <p-button id="subtractDeath" icon="pi pi-minus" severity="danger"
                        (click)="subtractCombatStatValueOfType('deaths')" [disabled]="kdaStats.deaths <= 0"/>
            </p-buttonGroup>
          </div>
        </div>
        <p-button
          icon="pi pi-calculator"
          class="btn-calc"
          (click)="calculateKda()"
          severity="secondary"
        />
        <p-divider></p-divider>
        <span class="label-calc-output">K/D/A <b>{{ getRoundedKda() }}</b></span>
      </p-fieldset>
    </div>

    <div class="container-fieldset">
      <p-fieldset legend="K/D/A target tracker">
        <div class="fielset-with-inputs min-height-and-spacing container-min-width">
          <div class="container-input-buttons">
            <p-floatLabel>
              <p-inputNumber id="targetKda" [(ngModel)]="targetKda" [maxFractionDigits]="2"/>
              <label for="targetKda">Target K/D/A</label>
            </p-floatLabel>
            <p-button id="calculateTargetKda" icon="pi pi-calculator"
                      (click)="getNumberOfKillsOrAssistsUntilTargetKda()" severity="secondary" [disabled]="kdaStats.kda == 0"
            />
          </div>
          <div>
            <p-divider></p-divider>
            <span class="label-calc-output">Needed Kills/Assists <b>{{ numberOfKillsForTargetKda }}</b></span>
          </div>
        </div>
      </p-fieldset>
    </div>

    <div class="container-fieldset">
      <p-fieldset legend="Chart-View" class="chart">
        <div class="container-chart container-min-width">
          @if (kdaStats.kda != 0) {
            <p-chart type="pie" [data]="data" [options]="options"/>
          } @else {
            <div class="no-kda-info">
              <i class="pi pi-info-circle"></i>
              <span>Bitte erst eine K/D/A berechnen</span>
            </div>
          }
        </div>
      </p-fieldset>
    </div>
  </div>
</main>
